div {
    margin-left: 250px;
}

.header {
    position: relative;
    width: 900px;
    height: 50px;
    background: aqua;
}

.dropmenu {
    height: 900px;
    height: 50px;
    list-style-type: none;
    margin:20px;
    padding: 10px;
}

.dropmenu li {
    float: left;
    height: 30px;
}

.dropmenu li a {
    display: block;
    font: 12px arial, verdana, sans-serif;
    font-weight: bold;
    padding: 9px 20px;
    text-decoration: none;
}

.dropmenu li:hover {
    /**
     * untuk setting hover menu
     */

    /*background: #778899;*/
    position: relative;
}

.dropmenu li a:hover {
    text-decoration: none;
}

.dropmenu li:hover ul {
    background-color: #3f4a54;
    border:1px solid grey;
    left: 0px;
    padding: 3px;
    top: 30px;
    width: 160px;
}

.dropmenu li:hover ul li {
    border:none;
    height: 18px;
}

.dropmenu li:hover ul li a {
    background: 778899;
    border:1px solid transparent;
    color: #fff;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    padding: 0px;
    text-decoration: none;
    text-indent: 5px;
    width: 158px;
    padding: 3px;
}

.dropmenu li:hover ul li a:hover {
    background: silver;
    border: solid 1px #444;
    color: #000;
    height: 18px;
    padding: 3px;
}

.dropmenu ul {
    left: -9999px;
    list-style-type: none;
    position: absolute;
    top: -9999px;
}

.article {
    width: 900px;
    height: 400px;
    background: #fff;
}

.footer {
    position: relative;
    width: 900px;
    height: 50px;
    background: aqua;
    float: left;
}

p {
    font: 12px arial,verdana ,sans-serif;
    font-weight: bold;
}
